header{
    width: 100%;
    display: flex;
   justify-content: center;
    background-color: #00374876;

    h1{
        padding-left: 20px;
        color: white;
    }

    .menu{
        display: none;
    }
}